@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    display: grid;
    grid-template: "box1" auto
                    "box2" auto
                    "box3" auto
                    "box4" auto
                    "box5" auto;
    row-gap: 25px;
    width: 80vw;
    margin: 70px 0;
}

.box1, .box2, .box3, .box4, .box5 {
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    padding: 28px;
    /* display: flex;
    flex-direction: column; */
}

.box1 {
    background: hsl(263, 55%, 52%) url(./images/bg-pattern-quotation.svg)  right top no-repeat;
    /* background-size: 100px; */
}

.box2{background-color:hsl(217, 19%, 35%) ;}
.box3 ,.box5{background-color: white;}
.box4{background-color: hsl(219, 29%, 14%);}

.people {
    width: 53%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people img {
    width: 30px;
    border-radius: 50%;
    border: 2px solid #ffffff80;
}

.people-name {
    color: #ffffff80;
    display: flex;
    flex-direction: column;
}

.people-name strong {color: #ffffffb3;}

.description {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}

.review {color: rgba(255, 255, 255, 0.5);}

.box3 .people-name strong, .box5 .people-name strong {color: rgba(0, 0, 0, 0.7);}

.box3 .people-name, .box5 .people-name {color: rgba(0, 0, 0, 0.5);}

.box3 .description, .box5 .description {color: rgba(0, 0, 0, 0.7);}

.box3 .review, .box5 .review {color: rgba(0, 0, 0, 0.5);}
